*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    text-align: center;
}

.black{
    background-color: black;
    color: #fff;
}

.white{
    background-color: white;
    color: black;
}

button{
    margin-left: 44%;
    margin-top: 25%;
    background-color: grey;
    color: aliceblue;
    transition: 0.2s ease-in-out;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
}

button:hover{
    background-color: rgb(88, 86, 86);
    cursor: pointer;
}

p{
    margin-top: 10%;
    text-align: center;
}