*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-image: url('https://media.wired.com/photos/61f48f02d0e55ccbebd52d15/master/pass/Gear-Rant-Game-Family-Plans-1334436001.jpg');
    background-size: cover;
    background-position: center;
}

#msg{
    color: #ffffc7;
    font-size: 2rem;
}


.container{
    height: 70vh;
    /* width: 70vw; */
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    /* backdrop-filter: blur(10px); */
}

.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #5a5757;
}

.box:hover{
    background-color: #424141;
}

#reset{
    padding: 1rem;
    margin: 5vmin;
    border-radius: 0.7rem;
    border: none;
    background-color: #100f0f;
    color: #fff;
    font-size: .9rem;
}

#reset:hover{
    cursor: pointer;
    background-color: #090909;
}

#new{
    padding: 1rem;
    margin: 5vmin;
    border-radius: 0.7rem;
    border: none;
    background-color: #100f0f;
    color: #fff;
    font-size: .9rem;
}

#new:hover{
    cursor: pointer;
    background-color: #090909;
}

.hide{
    display: none;
}
