*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right , #041308 , #0b3317);
}

.slider-container {
    position: relative;
    max-width: 600px;
    margin: 200px auto;
    border-radius: 20px;
}

.slider {
    display: flex;
    overflow-x: hidden;
}

.slider img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

