*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 40%;
    height: 300px;
    margin: auto;
    margin-top: 10%;
    box-shadow: 0px 0px 3px grey;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
    border-radius: 20px;
}

.button {
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    border: none;
    color: white;
}

.button:hover{
    background-color: rgb(17, 17, 17);
    transition: .5s;
}

.one{
    position: absolute;
    left: 0;
    margin-left: 28%;
    margin-top: 10%;
    z-index: 1;
}

.two{
    position: absolute;
    right: 0;
    margin-right: 28%;
    top: 0;
    margin-top: 20%;
}